[submodule "purge_dups"]
	path = purge_dups
	url = https://github.com/dfguan/purge_dups.git
[submodule "het_snp_kmers"]
	path = het_snp_kmers
	url = https://github.com/wheaton5/het_snp_kmers.git
[submodule "molecule_kmers"]
	path = molecule_kmers
	url = https://github.com/wheaton5/molecule_kmers.git
	branch = main
[submodule "phasst_phase"]
	path = phasst_phase
	url = https://github.com/wheaton5/phasst_phase.git
	branch = main
[submodule "phasst_scaff"]
	path = phasst_scaff
	url = https://github.com/wheaton5/phasst_scaff.git
	branch = main
[submodule "PHASE-MERS"]
	path = PHASE-MERS
	url = https://github.com/thegenemyers/PHASE-MERS.git
	branch = main
